body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--set-color-secondary) var(--set-color-base-tint);
}
body::-webkit-scrollbar-track {
    background: var(--set-color-base-tint)
}
body::-webkit-scrollbar-thumb {
    background-color: var(--set-color-secondary) ;
    border-radius: 6px;
    border: 3px solid var(--set-color-base-tint)
}

.vds-kitchen-sink {
    display: flex;
    flex-direction: row;
    position: relative;
}

.vds-kitchen-sink-nav {
    width: 70%;
    transform: translate(100%);
    background: var(--set-color-white);
    position: fixed;
    /* overflow-y: auto; */
    right: 0;
    /* top: 0;
    bottom: 0; */
    /* height: calc(100vh - 60px); */
    height: 100vh;
    /* padding: 60rem 0 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.05), inset 0 0 20px rgba(0,0,0,0.1);
    z-index: 100;
    transition: all 0.3s ease-in-out 0s;
}

/* .vds-kitchen-sink-content:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: block;
    background: linear-gradient(rgba(0,94,162,.8),rgba(228,29,61,.8));
    opacity: 1;
    z-index: 1;
    transition: all .4s ease-in-out 0s;
} */

.vds-kitchen-sink-nav--active {
    transform: translate(0);
}

.vds-kitchen-sink-nav__product-logo {
    background: var(--set-color-secondary);
    width: 100%;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10rem 0;
    padding-left: 20rem;
    position: relative;
}

.vds-kitchen-sink-nav__product-logo .title {
    color: var(--set-color-white);
    font-family: var(--set-font-mono);
    text-transform: uppercase;
    font-weight: 700;
}

.vds-kitchen-sink-nav__product-logo .menu {
    color: var(--set-color-white);
    background: var(--set-color-base);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    top: 0;
    bottom: 0;
    left: -50rem;
    border: none;
}

.vds-kitchen-sink-nav__product-logo .menu i {
    font-size: 1.5em;
}
    
.vds-kitchen-sink-nav__logo {
    background: var(--set-color-base);
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20rem 0;
    padding-left: 20rem;
}

.vds-kitchen-sink-nav__logo img {
    display: block;
    width: 40rem;
    height: auto;
    /* margin: 0 auto; */
}

.vds-kitchen-sink-nav__logo a {
    border: none;
    line-height: 0;
    display: inline-block;
    /* width: 100%; */
}

.vds-kitchen-sink-nav__logo a:after {
    display: none;
}

.vds-kitchen-sink-nav__logo span {
    display: block;
    color: var(--set-color-white);
    font-family: var(--set-font-mono);
    font-size: var(--set-font-size-xs);
    /* line-height: 0; */
    /* padding-right: 10rem; */
}

.vds-kitchen-sink-nav__container {
    padding-left: 20rem;
}

.vds-kitchen-sink-nav__container ul {
    font-family: var(--set-font-mono);
    font-size: var(--set-font-size-xs);
}

.vds-kitchen-sink-content {
    width: 100%;
    margin-right: 0;
    transform: translate(0);
    transition: all 0.3s ease-in-out 0s;
}

.vds-kitchen-sink-content:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: block;
    background: linear-gradient(rgba(0,94,162,.8),rgba(228,29,61,.8));
    opacity: 0;
    /* z-index: 1; */
    transition: all .3s ease-in-out 0s;
}

.vds-kitchen-sink-content--active {
    transform: translate(-50%);
}

.vds-kitchen-sink-content--active:before {
    opacity: 1;
    z-index: 1;
}

.no-scroll {
    overflow: hidden;
}

@media (min-width: 320px) {
    .vds-kitchen-sink-content--active {
        transform: translate(-70%);
    }
}

@media (min-width: 480px) {
    .vds-kitchen-sink-nav {
        width: 50%;
    }

    .vds-kitchen-sink-content--active {
        transform: translate(-50%);
    }
}

@media (min-width: 768px) {
    .vds-kitchen-sink-nav {
        width: 20%;
        transform: translate(0);
    }

    .vds-kitchen-sink-nav__product-logo .menu {
        display: none;
    }

    .vds-kitchen-sink-content {
        width: 80%;
        margin-right: 20%;
    }
}