/////////////// [FONTS] ///////////////

@use 'tools';

// Custom font maps
// 
$font-type: (
  'sans': '',
  'serif': '',
  'mono': '',
);

$font-sizing: (
  'size-xs':        calc(16rem + 0vw),
  'size-sm':        calc(16rem + 0.25vw),
  'size-base':      calc(16rem + 0.5vw),
  'size-md':        calc(16rem + 1vw),
  'size-lg':        calc(16rem + 1.5vw),
  'size-xl':        calc(16rem + 2vw),
  'size-h1':        calc(16rem + 3vw),
  'size-h2':        calc(16rem + 2.5vw),
  'size-h3':        calc(16rem + 2vw),
  'size-h4':        calc(16rem + 1.5vw),
  'size-h5':        calc(16rem + 1vw),
  'size-h6':        calc(16rem + 0.5vw),
  'line-height':    1.7,
  'weight-light':   300,  
  'weight-base':    400,
  'weight-heavy':   700,
  'letter-spacing': 0.5rem,
);

$sans-font: (
  name: 'var(--add-font-sans)',
  stack: (
    '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji',
  ),
);

@include tools.add-font('sans', $sans-font);


$serif-font: (
  name: 'var(--add-font-serif)',
  stack: (
    'Georgia', 'Cambria', 'Times New Roman', 'Times', 'serif',
  ),
);

@include tools.add-font('serif', $serif-font);

$mono-font: (
  name: 'var(--add-font-mono)',
  stack: (
    'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace',
  ),
);

@include tools.add-font('mono', $mono-font);

// Font-family assignments map
// 
$font-assignments: (
  'serif':    tools.font-family('serif'),
  'sans':     tools.font-family('sans'),
  'mono':     tools.font-family('mono'),
  'html':     var(--set-font-serif),
  'body':     var(--set-font-serif),
  'heading':  var(--set-font-sans),
  'code':     var(--set-font-mono),
);

// Create/assign css custom props from maps and expose
//  
:root {
  @include tools.tokens--($font-type, 'add-font-');
  @include tools.tokens--($font-sizing, 'set-font-');
  @include tools.tokens--($font-assignments, 'set-font-');
}

// -------------------------------------------------------
// To include custom fonts use the following pattern
// -------------------------------------------------------
// 
// $my-new-font: (
//   name: 'My New Font',
//   normal: (
//     woff: 'dir/my-new-font-webfont.woff',
//     ttf: 'dir/my-new-font-webfont.ttf',
//   ),
//   bold: (
//     woff: 'dir/my-new-font-bold-webfont.woff',
//     ttf: 'dir/my-new-font-bold-webfont.ttf',
//   ),
//   stack: (
//     'Georgia', 'Cambria', 'Times New Roman', 'Times', 'serif',
//   ),
// );

// @include tools.add-font('myFont', $my-new-font);